.title {
  margin: 24px;
  text-align: center;
}

h1 {
  margin-bottom: 24px;
}

p {
  margin-bottom: 48px;
}

img {
  max-width: 100%;
  text-align: center;
  margin-bottom: 24px;
}

.btn {
  margin: 24px;
}